<div class="hero-unit">
  <h3>Params</h3>
  {{#params}}
  <p>{{action}} action on {{controller}} controller.</p>
  {{/params}}
</div>

<script type="text/javascript">
$(function () {
  var pageId = window.location.pathname.split('/')[2];

  nails.io.addListenersForModels(['<%= names.constructor.singular %>']);

  nails.model.<%= names.constructor.singular %>.on('update', function (<%= names.property.singular %>) {
    if (<%= names.property.singular %>.id == pageId) {
      var properties = <%= names.property.singular %>.toData();
      for (var i in properties) {
        $('.'+i).text(properties[i]);
      }
    }
  });

  nails.model.<%= names.constructor.singular %>.on('remove', function (id) {
    if (id == pageId) {
      window.location = '/<%= names.property.plural %>';
    }
  });
});
</script>
